<!-- views/device.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Device</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <% include ../public/sidebar.html %>
  <h1>Device</h1>
  <!-- Add your device content here -->
</body>
</html>
